html, body {
    height: 100%;
    min-height: 600px;
}

body {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
    grid-template-rows: 50px 1fr;
}

/* Homepage Controller section CSS*/

.button-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 100%;

    position: relative;
}

#find-chat {
    outline: none;
    position: absolute;
    display: block;
    left: 300px;
    bottom: 10%;

    width: 300px;
    height: 70px;
    margin: 0 auto;

    border: 3px solid black;
    border-radius: 5px;

    font-size: 32px;
    font-weight: bold;

}

/* hover visual effect*/
#find-chat:hover {
    background-color: #009AD5;
}

/* onClick visual effect*/
#find-chat:active {
    transform: scale(.95);
    box-shadow: 0 3px 15px -2px;
}

#camera-toggle {
    outline: none;
    position: absolute;
    display: block;
    left: 100px;
    bottom: 10%;

    width: auto;
    height: 70px;
    margin: 20px;

    border: 3px solid black;
    border-radius: 5px;

    font-size: 32px;
    font-weight: bold;
}

#camera-toggle:hover {
    background-color: #b8ffb9;
   /* REDish background-color: #ffb8b8; */
}

#camera-toggle-icon {
    height: 100%;
    width: auto;
}

/* Homepage Self Preview section CSS*/

.canvas-container {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    height: 100%;

    position: relative;
}

#self-preview-canvas {
    width: 75%;
    height: 75%;

    border: 1px solid blue;

    position: absolute;
    left: 12.5%;
    top: 12.5%;
}	

#videoElement {
    position: absolute;
}