html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.button-container {
    grid-row: 1 / 2;
    height: 100%;

    position: relative;
}

.canvas-container {
    grid-row: 2 / 3;
    height: 100%;
}

#find-chat {
    left: 20%;
    margin: 5px;
    font-size: 32px;
    font-weight: bold;
	border: 3px solid black;
    border-radius: 5px;
    width: 300px;
    height: 70px;
}

#chat-with-friend {
    left: 20%;
    margin: 5px;
    font-size: 32px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 5px;
    width: 300px;
    height: 70px;
}

#self-preview-canvas {

}	
